:root {
  --primary-gradient: linear-gradient(69deg, #3d5af1 12.18%, #22d1ee 84%);
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  font-size: 1rem;
  min-height: 100vh;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.875rem;
  font-weight: 400;
}
/* Header Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.header__image {
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
  border-radius: 50%;
}
.header__content {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}
/* Navigation */
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.nav__links .iconify-inline {
  margin: 0 1rem;
}
.bmc__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
/* Main Section */
.links__main {
  background: var(--primary-gradient);
  color: #f5f5f5;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links__section {
  width: 37.5rem;
  padding: 1.5rem 0;
}
.links__container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: #ffffff;
  margin: 1rem 0;
  border-radius: 50px;
}
.links__container .iconify-inline {
  margin-right: 1rem;
}
.links__content {
  color: #000000;
}
@media screen {
}
